.rw-conversation-container .rw-header{
    background-color: #3e3e69;
}

.rw-conversation-container .rw-client{
    background-color: #3e3e69;
}

.rw-launcher{
    background-color: #3e3e69;
}

.rw-replies .rw-reply{
    background-color: #3e3e69;
    border: #3e3e69 1px solid;
    color: white;
}
